body {
    padding: 0;
    margin: 0;
    position: relative;
    background-image: url(./KON.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.p-class {
    height: 100vh;;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(220,220,220,1);

}

.kon {
    font-size: 70px;
    position: relative;
    z-index: 1;
}